= link_to(collection_path, class: 'btn btn-light btn-circle btn-lg') do
  %i.fas.fa-arrow-left

.ml-auto
  = link_to(resource_path(resource), class: 'btn btn-success btn-circle btn-lg') do
    %i.fas.fa-eye