= link_to({ action: :index }, class: 'btn btn-light btn-responsive') do
  %i.fas.fa-arrow-left
  %span.btn-text= t('.back')

.ml-auto
  = link_to(url_for([resource]), class: 'destroy btn btn-danger btn-circle btn-lg', method: :delete, 'data-confirm': I18n.t('administrador.controller.confirmations.destroy')) do
    %i.fas.fa-fire

  = link_to([:edit, resource], class: 'btn btn-success btn-circle btn-lg') do
    %i.fas.fa-edit