%nav.navbar.navbar-light.fixed-top
  #main-navbar-content
    %ul.navbar-nav
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#engine-sidebar-trigger
          %i.fas.fa-bars
  #main-navbar-tools
    %ul.navbar-nav
      - administrador_helper(self).engines.each do |_, engine|
        - engine.sidebar_controllers.each do |sc|
          %li.nav-item
            %button.btn.btn-circle.btn-lg.btn-light{ id: "#{sc.name.underscore.gsub('/', '-')}-trigger" }
              %i.fas{ class: "fa-#{sc.icon_name}"}

