%nav.navbar.navbar-dark.bg-dark.fixed-top
  #main-navbar-content
    %ul.navbar-nav
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-dark{ data: { sidebar: { trigger: '#sidebar-engines' } } }
          %i.fas.fa-bars
  #main-navbar-tools
    %ul.navbar-nav
      - administrador_helper(self).engines.each do |_, engine|
        - engine.sidebar_controllers.each do |sc|
          %li.nav-item
            %button.btn.btn-circle.btn-lg.btn-light{ data: { sidebar: { trigger: "#sidebar-#{sc.name.underscore.gsub('/', '-')}" } } }
              %i.fas{ class: "fa-#{(sc.icon_name || :'ellipsis-v')}"}

