%nav.navbar.navbar-light
  #main-navbar-content
    %ul.navbar-nav
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#engine-sidebar-trigger
          %i.fas.fa-bars
  #main-navbar-tools
    %ul.navbar-nav
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#search-sidebar-trigger
          %i.fas.fa-search
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-lights#messages-sidebar-trigger
          %i.fas.fa-comments
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#i18n-sidebar-trigger
          %i.fas.fa-flag
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#user-sidebar-trigger
          %i.fas.fa-user
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#notifications-sidebar-trigger
          %i.fas.fa-bell
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light#settings-sidebar-trigger
          %i.fas.fa-cog