%nav.navbar.navbar-light
  %ul.navbar-nav
    %li.nav-item.active
      %a.nav-link{ href: root_path }
        = t('.home')
  #main-navbar-tools
    %ul.navbar-nav
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-search
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-comments
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-flag
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-user
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-bell
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-cog
      %li.nav-item
        %button.btn.btn-circle.btn-lg.btn-light
          %i.fas.fa-ellipsis-v