.container-fluid
  .row
    .col-12
      #main-sidebar-content
        - administrador(self).engines.each do |name, engine|
          %div{ id: "#{engine.to_key}-menu", class: "engine-menu" }
            %ul.nav.flex-column
              %li.nav-item
                %a.nav-link.active{:href => "#"}= engine.name
          %li.nav-item
            %a.nav-link{:href => "#"} Link
          %li.nav-item
            %a.nav-link{:href => "#"} Link
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
    .col-12.d-flex.align-items-end
      #main-sidebar-bottom-content
        %button.btn.btn-lg.btn-circle.btn-primary
          %i.fas.fa-comments
        %button.btn.btn-lg.btn-circle.btn-primary
          %i.fas.fa-comments
        %button.btn.btn-lg.btn-circle.btn-primary
          %i.fas.fa-comments
        %button.btn.btn-lg.btn-circle.btn-primary
          %i.fas.fa-comments