#sidebar-engines .administrador-engine-actions {
  width: 1rem;
  min-height: 1px;
  margin-right: 1rem;
}

#sidebar-engines .administrador-engine-resources-count {
  width: 1rem;
}

#sidebar-engines .administrador-engine a {
  color: grey;
}

#sidebar-engines .administrador-engine .badge-pill {
  min-width: 1.75rem;
}