body {
  font-family: 'Poppins', sans-serif;
}

#main-container {
  padding-top: 1rem;
}

#main-navbar-tools .navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
}

#main-navbar-tools .navbar-nav li {
  margin-left: 0.75rem;
}