.jumbotron.jumbotron-fluid
  .container
    %h1.display-4 Hello,
    %p.lead welcome to your administration interface!
    %hr.my-4/
    %p Start by clicking on the menu on the left, where you can find the content that is managed throught this admin interface. Additional features are available from the top right menu icons.