.jumbotron.jumbotron-fluid
  .container
    %h1.display-4 Hallo,
    %p.lead willkommen auf Deiner Administrationsoberfläche!
    %hr.my-4/
    %p Die in dieser Oberfläche verwalteten Inhalte findest Du mit einem Klick auf das Menü oben links. Zusätzliche Features sind über die Icons oben rechts zu finden.